<div class="footer">
  <div class="footer-links">
    <%= link_to "Concept", concept_path %>
    <%= link_to "Partnership", partnership_path %>
  </div>
  <div class="footer-copyright">
    Be carefull wine is dangerous for your health
  </div>
</div>
