
<section class='background-image'>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center text-white">
        <h3>You want to become a host,<br> or need some informations about our houses...</h3>
  <br><br>
      </div>
    </div>
    <div class='row'>
     <div class="col-xs-12 text-center">
      <div class="panel panel-default box-shadow">
        <h4>Need some info about renting your house...</h4>
        XXXXXXXX
        <br>BBBBBB<br><br>
        <%= link_to "Send message", '#', class:"btn btn-info" %>
        <br><br>
      </div>
    </div>
</div>
</div>
</section>

