
<section class='background-image'>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center text-white">
        <h3>You want to become a wine seller!</h3>
  <br><br>
       <% if (!user_signed_in?) %>
     <button class="btn btn-form btn-small">
      <%= link_to "Create my wine seller account", new_user_registration_path, style: "color: white; text-decoration: none;" %></button>
      <% end %>
      </div>
    </div>

</div>
</section>

