<div class="background-image">
  <div class='container'>
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-10 col-md-10 banner">
      <span class="text-white2"><strong>Become a Wine House Partner</strong></span><br><span class="text-white"><strong>As a partner you will access to our large selection of wine and be able to offer it to your customer.</strong></span><br>
      <div class='text-center'>
        <button class="btn btn-form btn-small">
          <%= link_to "Become a partner and get your API", root_path, style: "color: white; text-decoration: none;" %></button>
        </div>
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>
  </div>
</div>
